# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production / Build
/dist
/.angular

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db
